@import "bulma"
@import "screens"


#root
  background: $grey-lightest


main
  background: $white
  min-height: 65vh
  @include screen-770-plus
    margin: 2rem
  padding: 2rem


  h2
    @extend .title, .is-3


  .Errors
    position: fixed
    right: 1rem
    z-index: 100
    min-width: 20rem

    @include screen-770-plus
      top: 2rem

    @include screen-769-minus
      bottom: 2rem
      width: calc(100% - 2rem)


    .message
      box-shadow: $panel-shadow


  .field.is-grouped.is-grouped-multiline
    margin-right: -$help-size


  .field.is-grouped.is-grouped-multiline .control
    flex-grow: 1
    flex-shrink: 1
    margin-right: $help-size


  .field.is-horizontal
    display: flex
    align-items: center


    .help
      margin-left: .75rem
      margin-top: 0
