@import "bulma"
@import "screens"


.notes
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: stretch
  gap: 2.5rem


  .card
    display: flex
    flex-direction: column
    min-width: 20rem

    @include screen-1024-plus
      max-width: calc(50% - 1.25rem)


    .card-content
      flex-grow: 1
